
@media only screen and (max-width:1100px) {
    .section-model .item-box{
        width:48%;
        margin-top:20px;

    }
    .btn-service-item{
        width: 100%;
    }
    .buttons-service-item{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}



@media only screen and (max-width:756px) {
    .section-model .item-box{
        width:48%;
        margin-top:20px;

    }
    .btn-service-item{
        width: 100%;
    }
    .buttons-service-item{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}


@media  screen and (max-width: 568px) {
    .section-model .item-box{
        width:100%;
        margin-top:20px;

    }
    .btn-service-item{
        width: 100%;
    }
    .buttons-service-item{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
} 